/.vs
/DotNetTraining/.vs/DotNetTraining
/DotNetTraining/DotNetTraining.Lesson2.Args/obj
/DotNetTraining/DotNetTraining.Lesson2.Args/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.Classes/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.Classes/obj
/DotNetTraining/DotNetTraining.Lesson2.Enums/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.Enums/obj
/DotNetTraining/DotNetTraining.Lesson2.Methods/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson2.Methods/obj
/DotNetTraining/DotNetTraining.Lesson2.Presentation/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson2.Presentation/obj
/DotNetTraining/DotNetTraining.Lesson2.RecursiveMethods/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.RecursiveMethods/obj
/DotNetTraining/DotNetTraining.Lesson2.Structures/obj
/DotNetTraining/DotNetTraining.Lesson2.Tuple/obj
/DotNetTraining/DotNetTraining.Lesson2.Tuple/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.Structures/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson2.Partial/obj
/DotNetTraining/DotNetTraining.Lesson2.Partial/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson4.Presentation/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson4.Presentation/obj
/DotNetTraining/DotNetTraining.Lesson4.Calculator/bin/Debug/netstandard2.0
/DotNetTraining/DotNetTraining.Lesson4.Calculator/obj
/DotNetTraining/DotNetTraining.Lesson4.MoqClasses/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson4.MoqClasses/obj
/DotNetTraining/DotNetTraining.Lesson4.Principles/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson4.Principles/obj
/DotNetTraining/DotNetTraining.Lesson4.Tests/bin/Debug/netcoreapp3.1
/DotNetTraining/DotNetTraining.Lesson4.Tests/obj
