@model List<DotNetTraining.Lesson9.AspApplication.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<div class="form-group">
    <a href="@Url.Action("CreateUser", "Users")">Add user</a>
</div>

@await Component.InvokeAsync("UsersViewList", new { users = Model })