@model DotNetTraining.Lesson9.AspApplication.ViewModels.UserViewModel

@{
    ViewData["Title"] = "User";
}

<h1>User Profile</h1>

<div class="">Id: @Model.Id</div>
<div class="">Full Name: @Model.FullName</div>


